<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="http://feeds.feedburner.com/fohjin" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
		<link rel="icon" type="image/png" href="http://cre8ivethought.s3.amazonaws.com/images/favicon.png" />
    <title><%= title %></title>
  </head>
  <body>
    <section>
      <div id="content_header" >
        <div id="frame-foreground"></div>
        <div id="card-front"></div>
        <div id="menu">
          <ul>
            <li><a href="/blog/index">Home</a>
            <li><a href="http://feeds.feedburner.com/Fohjin">RSS</a>
            <li><a href="#About">About me</a>
            <li><a href="http://twitter.com/MarkNijhof">Twitter</a>
            <li><a href="/">Website</a>
            <li><a href="/the_software_craftsman/index">Book</a>
          </ul>
        </div>
      </div>
      <div id="content_body">
        <%= yield %> 
      
        <section id="information">
          <h3>About me</h3><a name="About"></a>
          <p>Hi, my name is Mark Nijhof and I am using this space to express my own "creative" thoughts about software development and other things that interest me. If you have any questions then please don't hesitate to contact me:<br/><br/>
            E-mail: Mark.Nijhof (@) Cre8iveThought.com<br/>
            Phone: 0047 95 00 99 37<br/>
            Twitter: <a href="http://twitter.com/MarkNijhof">@MarkNijhof</a>
          </p>
        </section>
      </div>
      <div id="content_footer" ></div>
    </section>
    <footer>      
    	<a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img alt="Creative Commons License" style="border-width: 0pt;" src="http://i.creativecommons.org/l/by/3.0/88x31.png"></a><br>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>.
    </footer>
    <script type="text/javascript"> 
      (function() { 
        var links = document.getElementsByTagName('a'); 
        var query = '?'; 
        for(var i = 0; i < links.length; i++) { 
          if(links[i].href.indexOf('#disqus_thread') >= 0) { 
            query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&'; 
          } 
        } 
        document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/cre8ivethought/get_num_replies.js' + query + '"></' + 'script>'); 
      })(); 
    </script>
		<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
		try {
		var pageTracker = _gat._getTracker("UA-116586-8");
		pageTracker._setDomainName(".cre8ivethought.com");
		pageTracker._trackPageview();
		} catch(err) {}</script>
  </body>
</html>

