<h1><%= @path %></h1>
<ul>
  <% if archives.length > 0 %>
    <% for entry in archives %>
      <li>
        <a href="<%= entry.url %>"><%= entry.title %></a><span class="date_list"><a class="comments_link" href="<%= entry.url %>#disqus_thread">Comments</a></span>
      </li>
    <% end %>
  <% end %>
</ul>

