
#header

  %nav
    #menu
      %ul
        %li
          %a{:href=>"/blog/index"} Home
        %li
          %a{:href=>"http://feeds.feedburner.com/Fohjin"} RSS
        %li
          %a{:href=>"#About"} About
        %li
          %a{:href=>"http://twitter.com/MarkNijhof"} Twitter
        %li
          %a{:href=>"/"} Website

  #profile-picture
