html { margin: 20px }
body {
  margin: 0 auto;
	color: #222222;
	font-family: "Georgia","Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
	font-size: 1.1em;
  line-height: 1.6;
  padding: 45px;
  width: 800px;
  background: #dfdfdf;

}
header, footer, section, article {
	display: block;
	text-align: justify;
}

#content_header {
	position: relative;
	height: 220px;
  background: #ffffff;
}

#frame-foreground
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 800px;
	height: 220px;
	z-index: 5;
	background-image: url('http://cre8ivethought.s3.amazonaws.com/images/frame-front.png');
	background-repeat: none;
}

#card-front {
	background-image: url("http://cre8ivethought.s3.amazonaws.com/images/card-front-cropped.png");
	top: 0px;
	left: 0px;
	width: 365px;
	height: 210px;
	position: absolute;
	z-index: 4;
}

#content_body {
	padding: 0px 30px 10px 30px;
  background: #ffffff;
	background-image: url('http://cre8ivethought.s3.amazonaws.com/images/frame-front-middle.png');	
}

#content_footer {
	height: 40px;
  background: #ffffff;
	background-image: url('http://cre8ivethought.s3.amazonaws.com/images/frame-front.png');	
	background-position: bottom;
}

#content_header #menu {
	border:0 none;
	display:inline-block;
	float:left;
	left:470px;
	margin:0;
	outline:0 none;
	overflow:hidden;
	padding:0;
	position:relative;
	top:22px;
	width:400px;
	z-index: 10;
}

#content_header #menu ul {
	list-style-type:disc;
}
#content_header #menu ul, ol {
	margin:0 1.5em 1.5em 0;
	padding-left:3.333em;
}

#content_header #menu li {
	display:inline;
	float:left;
	list-style-image:none;
	list-style-type:none;
	margin-left:0;
	padding-left:10px;
	padding-right:10px;
	white-space:nowrap;
}

.gist {
  line-height: 1.2em;	
}

#content {
}
#by {
	font-style: italic;
  margin-right: 5px;
	font-size: 28px;
}
#caption {
	position: absolute;
	font-size: 24px;
	margin: -135px 0 0 70px;
}
#path {
	color: #b53131;
}

.devider {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 0px;
	padding: 0px;
	width: 100%;
}
.date_post {
	position: absolute;
  font-style: italic;
  float: left;
  top: -20px;
	left: 3px;
	color: #cccccc;
}
.date_list {
  font-style: italic;
  float: right;
  margin-right: 30px;
	color: #cccccc;
}
.comments_link {
  font-style: italic;
	font-size: 75%;
	color: #cccccc;
  text-decoration: none;
}
.comments_link:hover {
  font-style: italic;
	font-size: 75%;
	color: #cccccc;
  text-decoration: underline;
}
a {
  color: #b83000;
  text-decoration: none;
}
a:hover {
  color: #b83000;
  text-decoration: underline;
}
h1 a {
  color: #3B4A25;
  text-decoration: none;
}
h1 a:hover {
  color: #3B4A25;
  text-decoration: none;
}
body > header > h1 {
	border-left: 30px solid black;
	padding-left: 30px;
  font-size: 201px;
  margin: 100px 0 15px 0;
  font-weight: normal;
}
.post header {
	margin-bottom: 10px;
	position: relative;
}
.post .body p:first-child {
	margin-top: 0;
}
.post .body p:last-child {
	margin-bottom: 0;
}
.post {
	margin-bottom: 30px;
}
.post:last-child {
  margin-bottom: 10px;
}
.post p {
  margin: 0 0 1.5em;
}
.post .more {
  margin-top: -10px;
  margin-right: 30px;
  font-style: italic;
  text-align: right;
}
.more a {
  text-decoration: none;
}
.more a:hover { 
	text-decoration: underline
}

body > header {
	display: block;
	padding-top: 30px;
	line-height: 180px;
	margin-bottom: 20px;
}
h1 {
  color: #3B4A25;
  display: inline;
  margin: 0;
  font-weight: 600;
	font-size: 2.2em;
}
h2 {
  color: #3B4A25;
  display: inline;
  margin: 0;
  font-weight: 600;
	font-size: 1.8em;
}
h3, h4 {
  color: #3B4A25;
  display: inline;
  margin: 0;
  font-weight: 600;
	font-size: 1.4em;
}
code {
  font-family: 'Anonymous Pro', 'Bitstream Vera Sans', 'Monaco', Courier, mono;
	font-size: 1.0em;
}
pre {
  padding: 20px;
}
blockquote {
  font-style: italic;
}

body > footer {
  text-align: left;
  margin-left: 20px;
	margin-bottom: 1000px;
	font-style: italic;
  font-size: 18px;
  color: #888;
}
