@font-face {
	font-family: 'CaviarDreamsItalic';
	src: url('CaviarDreams_Italic.eot');
	src: local('Caviar Dreams'), local('CaviarDreams-Italic'), url('CaviarDreams_Italic.woff') format('woff'), url('CaviarDreams_Italic.ttf') format('truetype'), url('CaviarDreams_Italic.svg#CaviarDreams-Italic') format('svg');
}

@font-face {
	font-family: 'CaviarDreamsBoldItalic';
	src: url('CaviarDreams_BoldItalic.eot');
	src: local('Caviar Dreams'), local('CaviarDreams-BoldItalic'), url('CaviarDreams_BoldItalic.woff') format('woff'), url('CaviarDreams_BoldItalic.ttf') format('truetype'), url('CaviarDreams_BoldItalic.svg#CaviarDreams-BoldItalic') format('svg');
}

@font-face {
	font-family: 'CaviarDreamsBold';
	src: url('CaviarDreams_Bold.eot');
	src: local('Caviar Dreams'), local('CaviarDreams-Bold'), url('CaviarDreams_Bold.woff') format('woff'), url('CaviarDreams_Bold.ttf') format('truetype'), url('CaviarDreams_Bold.svg#CaviarDreams-Bold') format('svg');
}

@font-face {
	font-family: 'CaviarDreamsRegular';
	src: url('CaviarDreams.eot');
	src: local('Caviar Dreams'), local('CaviarDreams'), url('CaviarDreams.woff') format('woff'), url('CaviarDreams.ttf') format('truetype'), url('CaviarDreams.svg#CaviarDreams') format('svg');
}

html, body 
{
	height: 100%;
	margin: 0;
	padding: 0;
	background: #dfdfdf;
	color: #414142;
	font-family: Verdana, serif;
	text-align: center;
	filter: none;
}

#cards 
{
	top: 10%;
	margin-left: auto;
	margin-right: auto;
	position: relative;	
	z-index: 1;
	width: 800px;
	height: 600px;
	background: #dfdfdf;
	display: none;
	cursor: pointer;
	overflow: hidden;
}

#frame
{
	top: 10%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 1;
	width: 800px;
	height: 600px;
	display: none;
	overflow: hidden;
}

#frame-background
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 800px;
	height: 600px;
	z-index: 2;
	background-image: url('http://cre8ivethought.s3.amazonaws.com/images/frame-back-bekk.png');
	background-repeat: none;
}

#card-front
{
	position: absolute;
	top: -80px;
	left: -500px;
	width: 470px;
	height: 310px;
	z-index: 4;
	background-image: url('http://cre8ivethought.s3.amazonaws.com/images/card-front.png');
	background-repeat: none;
}

#card-back
{
	position: absolute;
	top: 150px;
	left: -500px;
	width: 455px;
	height: 300px;
	z-index: 3;
	background-image: url('http://cre8ivethought.s3.amazonaws.com/images/card-back.png');
	background-repeat: none;
}

#frame-foreground
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 800px;
	height: 600px;
	z-index: 5;
	background-image: url('http://cre8ivethought.s3.amazonaws.com/images/frame-front.png');
	background-repeat: none;
}

#frame-content
{
	position: absolute; 
	text-align: left;
	top: 10px;
	left: 400px;
	width: 390px;
	height: 575px;
	z-index: 6;
}

#frame-menu
{
	position: absolute; 
	text-align: left;
	top: 410px;
	left: 20px;
	width: 300px;
	height: 150px;
	z-index: 6;
	display: none;
}

#frame-menu li
{
	display: block;
	font-size: 18px;
	font-weight: normal;
	cursor: pointer;
}

.textBlock ul
{
	position: relative;
	margin: 0;
	padding: 0px;
	top: 3px;
	left: 10px;
}

.textBlock li
{
	display: block;
}

#BusineesCards
{
	width: 800px;
	height: 600px;
	z-index: 1;
}

#EmptyFrame
{
	width: 800px;
	height: 600px;
}

#click-area-one
{
	position: absolute;
	width: 140px;
	height: 50px;
	top: 20px;
	left: 400px;
	z-index: 10;
}

#click-area-two
{
	position: absolute;
	width: 50px;
	height: 180px;
	top: 365px;
	left: 615px;
	z-index: 10;
}

#click-area-three
{
	position: absolute;
	width: 50px;
	height: 50px;
	top: 0px;
	left: 0px;
	z-index: 10;
}

a
{
	color: #6b6a6a;
	text-decoration: none;
}

a:hover
{
	color: #a0ce43;
	text-decoration: none;
}

img
{
	border: 0px;
}

h1
{
	margin: 0px;
	margin-top: 20px;
	font-family: 'CaviarDreamsBold', Verdana, serif;
	font-size: 30pt;
	color: #414142;
}

h2
{
	margin: 0px;
	margin-top: 15px;
	font-family: 'CaviarDreamsRegular', Verdana, serif;
	font-size: 20pt;
	color: #414142;
}

p
{
	margin: 0px;
	margin-left: 10px;
	font-family: Verdana, serif;
	font-size: 14pt;
	color: #414142;
}

p b
{
	font-family: Verdana, serif;
	font-size: 15pt;
	color: #414142;
}
