.oldColor
{
	background: #2d85e4;
	color: #a0ce43;
}

body
{
	background: #dfdfdf;
	padding: 0px;
	maring: 0px;
}

#page
{
	font-family: Arial, Helvetica;
	font-weight: normal;
	font-size: 14px;
	color: #6b6a6a;
	width: 960px;
	margin: 0px;
	margin-left: auto;
	margin-right: auto;	
	padding: 0px;
}

#header
{
	height: 88px;
	width: 960px;
	background-image: url(/images/header2.jpg);
	background-repeat:no-repeat;
}
#header .innerbox
{
	height: 88px;
	width: 960px;
}

#header ul.menu
{
	color: #6b6a6a;
	position: relative;
	margin: 0;
	padding: 0px;
	top: 30px;
	left: 780px;
	width: 160px;
}
#header ul.menu li
{
	display: inline;
	margin:0 15px 0 0;
	font-size: 14px;
	font-weight: normal;
}
#header ul.menu li a
{
	color: #ffffff;
	text-decoration: none;
}
#header ul.menu li a:hover
{
	color: #a0ce43;
	text-decoration: none;
}


#menubar
{
	height: 27px;
	width: 958px;
	border: 0px;
	border-left: solid 1px #a9adb1;
	border-right: solid 1px #a9adb1;
	background: #ffffff;
}
#menubar .innerbox
{
	height: 27px;
	width: 956px;
	padding: 0px 1px 0px 1px;
	background-image: url(/images/menubar.jpg);
	background-repeat:repeat;
}

#menubar ul.menu
{
	position: relative;
	margin: 0;
	padding: 0px;
	top: 3px;
	left: 30px;
}
#menubar ul.menu li
{
	display: inline;
	margin:0 15px 0 0;
	color: #ffffff;
	font-size: 14px;
	font-weight: normal;
	text-shadow: black -1px 1px
}
#menubar #selected
{
	color: #ffffff;
	border-bottom: 2px solid #ffffff;
}
#menubar ul.menu li a
{
	color: #ffffff;
	text-decoration:none;
	border-bottom:0px none black;
}
#menubar ul.menu li a:hover
{
	border-bottom: 2px solid #a0ce43;
}

#content
{
	width: 958px;
	border: 0px;
	border-left: solid 1px #a9adb1;
	border-right: solid 1px #a9adb1;
	background: #ffffff;
}
#content .innerbox
{
	margin: 0px 30px 0px 30px;
	padding: 1px 0px 10px 0px;
	font-size: 1em;
	color: #6b6a6a;
}
#content h1
{
	font-weight: bold;
	font-size: 16px;
	color: #a0ce43;
}
#content h2
{
	font-weight: bold;
	font-size: 14px;
	color: #a0ce43;
}
#content h3
{
	font-weight: normal;
	font-size: 14px;
	color: #a0ce43;
}
#content p
{
	font-weight: normal;
	font-size: 14px;
	color: #6b6a6a;
}
#content a
{
	color: #3d3d3d;
	text-decoration: underline;
}
#content a:hover
{
	color: #a0ce43;
	text-decoration: underline;
}

#imagebox
{
	width: 315px;
	float: right;
	padding: 10px;
}
#imagebox #text
{
	padding: 0px 10px 10px 10px;
	font-weight: normal;
	font-style: italic;
	font-size: 12px;
	color: #6b6a6a;
}
#content #quote
{
	font-size: 14px;
	color: #6b6a6a;
	font-weight: normal;
	font-style: italic;
	padding: 0px;
	margin: 0px;
}

#footerbar
{
	height: 27px;
	width: 958px;
	border: 0px;
	border-left: solid 1px #a9adb1;
	border-right: solid 1px #a9adb1;
	background: #ffffff;
}
#footerbar .innerbox
{
	height: 27px;
	width: 956px;
	padding: 0px 1px 0px 1px;
	background-image: url(/images/menubar.jpg);
	background-repeat:repeat;
}
#footerbar #copyright
{
	width: 958px;
	padding-top: 5px;
	text-align: center;
	font-size: 12px;
	font-weight: normal;
	color: #ffffff;
	text-shadow: black -1px 1px
}

#footer
{
	width: 958px;
	border: 0px;
	border-left: solid 1px #a9adb1;
	border-right: solid 1px #a9adb1;
	background: #ffffff;
}
#footer .innerbox
{
	margin: 0px 30px 0px 30px;
	padding: 10px 0px 10px 0px;
	text-align: center;
}
#footer .innerbox img
{
	margin: 0px 10px 0px 10px;
	border: none 0px;
}
#footer .innerbox a
{
	border: none 0px;
	text-decoration: none;
}

#footerbottom
{
	height: 6px;
	width: 960px;
	background-image: url(/images/bottom.jpg);
	background-repeat:no-repeat;
	margin: 0px 0px 50px 0px;
}

