
%section
  .articles
    %header
      %h1 Archive for: #{slug}
      %hr

    - for post in posts.select{|item| item[:published] }
      = haml(:'blog/_article_summary', :layout => false, :locals => { :post => post })

  %br
  %br
  
  = haml(:'blog/_archives', :layout => false) 
