// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Combine the partials into a single screen stylesheet.
@import "partials/page";
@import "partials/form";

body.three-col {
  color: #222222;
  font-family: "Georgia","Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
  font-size: 1.1em;
  line-height: 1.6;
  background: #24130b;
  background-image: url('http://cre8ivethought.s3.amazonaws.com/images/layout/background.jpg');	
  padding-top: 40px;

  #container {
    @include container; 
    a {
      color: #2a1911;
      text-decoration: none;
      }
    a:hover {
      color: #2a1911;
      text-decoration: underline;
      }

    h1 { 
      color: #3c2f26;
      display: inline;
      margin: 0;
      font-weight: 600;
    	font-size: 1.8em;
    	text-align: right;
      a {
        color: #2a1911;
        text-decoration: none;
        }
      a:hover {
        color: #2a1911;
        text-decoration: none;
        }
      }
    h2 {
      color: #3c2f26;
      display: inline;
      margin: 0;
      font-weight: 600;
    	font-size: 1.4em;
    	text-align: right;
      }
    h3 {
      color: #3c2f26;
      display: inline;
      margin: 0;
      font-weight: 600;
    	font-size: 1.2em;
    	text-align: right;
      }
    h4 {
      color: #3c2f26;
      display: inline;
      margin: 0;
      font-weight: 600;
    	font-size: 1.1em;
    	text-align: right;
      }
    P {
      text-align: justify;
      font-size: 1.1em;
      }
    .gist {
      line-height: 1.2em;	
      }
    .date_list {
      font-style: italic;
      float: right;
      margin-right: 30px;
      color: #bbbbbb;  
      }
    .date_post {
      position: absolute;
      font-style: italic;
      float: left;
      top: -45px;
      left: 3px;
      width: 550px;
      color: #bbbbbb;
      }
    .archive_info {
      position: relative;
      top: -10px;
      font-style: italic;
      font-size: 75%;
      color: #bbbbbb;
      }
    .comments_link {
      color: #bbbbbb;
      text-decoration: none;
      }
    .comments_link:hover {
      color: #bbbbbb;
      text-decoration: underline;
      }
    .db-compact {
      }
    }

  #left-side {
    @include column(2); }

  #main-area {
  @include column(20); }

  #content {
    padding: 0px 30px 10px 30px;
    background: #edeae1;
    background-image: url('http://cre8ivethought.s3.amazonaws.com/images/layout/middle-frame-front.png');	
    .post {
      position: relative;
      }
    }

  #footer {
    height: 40px;
    background: #edeae1;
    background-image: url('http://cre8ivethought.s3.amazonaws.com/images/layout/frame-front.png');	
    background-position: -2px bottom;
    margin-left: 2px;
  	margin-bottom: 1000px;
    }
  
  #license {
    background: #edeae1;
    background-image: url('http://cre8ivethought.s3.amazonaws.com/images/layout/middle-frame-front.png');	
    text-align: left;
  	font-style: italic;
    font-size: 18px;
    color: #888;
    padding: 0px 30px 10px 30px;
    }

  #right-side {
    @include column(2, true); }
  
  }

#header {
  position: relative;
  height: 275px;
  background: #edeae1;
  #frame-foreground {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 800px;
  	height: 275px;
  	z-index: 5;
  	background-image: url('http://cre8ivethought.s3.amazonaws.com/images/layout/frame-front.png');
  	background-repeat: none;
    }
  #card-front {
  	background-image: url("http://cre8ivethought.s3.amazonaws.com/images/layout/profile-picture.png");
  	top: 0px;
  	left: 0px;
  	width: 225px;
  	height: 244px;
  	position: absolute;
  	z-index: 4;
  	}
  #menu {
  	border:0 none;
  	display:inline-block;
  	float:left;
  	left:290px;
  	margin:0;
  	outline:0 none;
  	overflow:hidden;
  	padding:0;
  	position:relative;
  	top:22px;
  	z-index: 10;
    ul {
    	list-style-type:disc;
      }
    ul, ol {
    	margin:0 1.5em 1.5em 0;
    	padding-left:3.333em;
      }
    li {
    	display:inline;
    	float:left;
    	list-style-image:none;
    	list-style-type:none;
    	margin-left:0;
    	padding-left:10px;
    	padding-right:10px;
    	white-space: nowrap;
      }
    }
  }
  
